<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Techy News</title>
    <!-- Bootstrap 5 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="sha384-F+9skCJ8Ru6Dok+JAPCOwN1+XXAfcJSTvGhU6yi2U6P9Hq3f0/Cg+mT+mmBwzWWd" crossorigin="anonymous">
    <!-- Custom CSS -->
    <style>
      /* Body and header styling */
      body {
        background-color: #171717;
        color: #fff;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 16px;
        line-height: 1.5;
      }
      header {
        background-color: #212529;
        padding: 20px;
        text-align: center;
        margin-bottom: 30px;
      }
      h1 {
        font-size: 3rem;
        margin-bottom: 0;
      }
      /* Article styling */
      .article-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      .article {
        width: 90%;
        max-width: 800px;
        margin: 30px;
        border: 1px solid #444;
        border-radius: 5px;
        overflow: hidden;
        padding: 10px;
      }
      .article img {
        width: 50%;
        float: left;
        margin-right: 10px;
      }
      .article h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
      }
      .article p {
        margin-bottom: 10px;
      }
      .article a {
        color: #007bff;
        text-decoration: none;
      }
      .article a:hover {
        text-decoration: underline;
      }
    </style>
    <link rel = 'stylesheet' href = '/css/header.css' />
    <link rel="icon" type="image/x-icon" href="/img/logo.png" />

  </head>
  <body>

      <div class="header">
        <a href="/" class="logo">Stock News</a>
        <div class="header-right">
          <a class="active" href="/">Home</a>
          <a href="/wishlist">Wishlist</a>
          <a href="/search">Search</a>
          <a href="/search/news">News</a>
          <a href="/contact">Contact</a>
          <a href="/about">About</a>
        </div>
      </div>


    <div class="container">
      <div class="row article-container">
        {{#each articles}}
        <div class="col-md-6 article">
          <img src="{{this.urlToImage}}" alt="{{this.title}}">
          <h2>{{this.title}}</h2>
          <p>{{this.description}}</p>
          <p><a href="{{this.url}}" target="_blank">Read more</a></p>
        </div>
        {{/each}}
      </div>
    </div>
    <!-- Bootstrap 5 JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-B9ORFU5+rLpGv+lRjOy8HhlyOcYgYwv2EdCEZtj0NO0alLvcC68JVv5oBfCp5fz" crossorigin="anonymous"></script>
  </body>
</html>
